{
  "presets": [
    "stage-1",
    "es2015",
    "react"
  ],
  "plugins": [
    "transform-strict-mode",
    "transform-class-properties"
  ],
  "env": {
    "node": {
      "plugins": [
        [
          "babel-plugin-transform-require-ignore",
          {
            "extensions": [
              ".css",
              ".scss"
            ]
          }
        ]
      ]
    }
  }
}
